addresses = {{ cloud_addresses | to_yaml }}
control_port = 10462
token = {{ link_token | to_yaml }}
{% set all_ports = [] %}
{% if expose_http == 1 %}
{{ all_ports += [80, 443] }}
{% endif %}
{% if expose_ssh == 1 %}
{{ all_ports.append(22) }}
{% endif %}
{% if expose_email == 1 %}
{{ all_ports += [25, 587, 994] }}
{% endif %}
{{ all_ports += map(int, more_ports.split(',')) }}
ports = {{ all_ports | to_yaml }}
